Exported/
Exported/*
output/
output/*
Project/
Build/
.tmp_symbolic/
.tmp/
.tmp-build/
tests/.tmp/
s7p_PLC1/

__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
.eggs/
*.spec
*.manifest
*.pkg
*.toc
warn-*.txt
xref-*.html
.venv/
venv/
.vscode/
.idea/
Thumbs.db
Desktop.ini
/tests/
/tests/*
